
<% layout("layouts/boilerplate") -%>
  <div class="row mt-5">
<div class="d-flex col-8 offset-2 justify-content-between align-items-center border py-3">
    <div class="flex-grow-1 pe-3">fdghjkl Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero eius cum minima. Debitis expedita totam minima cupiditate similique aliquam eius quae, ipsa vero consequuntur labore maiores, alias quis recusandae nulla.</div>
    <div class="">dsfghjsdfghjkl;</div>
</div>
</div>